@charset "utf-8";

html, body{
  height: 100%;
}
.div-flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.div-flex .flex-bd{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* padding和border包含在宽高中 */
.b-box{
  box-sizing: border-box;
}

.home-search{
  width: 60%;
  margin: 0 auto;
  margin-top: 12%;
  padding-bottom: 10px;
}
.logo{
  display: block;
  margin: 50px auto;
  text-align: center;
  font-size: 22px;
}
.keyWrap{
  line-height: 40px;
}
.search-key, .keyWrap .ivu-select-selection{
  line-height: 40px;
  padding: 0 15px;
  border: solid 1px #c5c5c5;
  border-right: none;
}
.keyWrap .ivu-select{
  width: 115px;
}
.keyWrap .ivu-select-selection{
  border-color: #c5c5c5;
  height: 42px;
  border-radius: 0;
}
.keyWrap .ivu-select-input{
  height: 42px;
  line-height: 42px;
}
.search-key:focus{
  border-color: #3385ff;
}
.search-btn{
  width: 100px;
  line-height: 40px;
  text-align: center;
  background: #3385ff;
  font-size: 16px;
  color: #fff;
}
.search-btn:hover{
  cursor: pointer;
  box-shadow: #c5c5c5 1px 1px 5px;
}

#search-list{
  height: 100%;
  padding: 10px 20px;
}
.list-title{
  text-indent: 20px;
  line-height: 28px;
  font-size: 16px;
  border: solid 1px #dcdee2;
  border-width: 0 1px;
  background: #369;
  color: #fff;
}
.list-title>span{
  margin-left: 15px;
  font-size: 12px;
}
.ivu-form-item{
  display: inline-block;
  margin-bottom: 10px;
}
.img-wrap{
  padding-left: 15px;
}
.selectImg{
  cursor: pointer;
}
.ivu-btn-info{
  background-color: #3385ff;
  border-color: #3385ff;
}
.ivu-modal-close .ivu-icon-ios-close{
  top: 0;
  color: #fff;
  font-weight: bold;
  background: #3385ff;
  border-radius: 50%;
}
.plate{
  font-size: 16px;

}
.noPic{
  text-align: center;
  /* line-height: 200px; */
}
.index-tip{
  color: #999;
  margin: 10px 270px;
  font-size: 14px;
}

/* 摄像机列表 */
.fr{
  float: right;
}
.tc{
  text-align: center;
}
.ivu-btn-ghost {
  color: #657180;
}
.list-search-wrap span{
  padding-left: 10px;
  font-weight: bold;
}
.search-btn{
  width: 100px;
  line-height: 40px;
  text-align: center;
  background: #3385ff;
  font-size: 16px;
  color: #fff;
}
.search-btn:hover{
  cursor: pointer;
  box-shadow: #c5c5c5 1px 1px 5px;
}

.ivu-form{
  padding: 0 50px;
}
.dvrAddDiv .ivu-form-item{
  margin-bottom: 20px;
}
.comBtn{
  display: inline-block;
  padding: 6px;
  border:solid 1px #2d78f4;
  background: #3385ff;
  color: #fff;
  cursor: pointer;
}
.banBtn{
  border:solid 1px #f54545;
  background: #ff8547;
}