<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mydao.dvr.dao.DataSnapMapper" >
  <resultMap id="BaseResultMap" type="com.mydao.dvr.entrty.DataSnap" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CAMERA_IP" property="cameraIp" jdbcType="VARCHAR" />
    <result column="PIC_URL" property="picUrl" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="PLATE_NO" property="plateNo" jdbcType="VARCHAR" />
    <result column="NET_SITE_NO" property="netSiteNo" jdbcType="VARCHAR" />
    <result column="CAR_ID" property="carId" jdbcType="VARCHAR" />
    <result column="PLATE_COLOR_CODE" property="plateColorCode" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="dvrName" property="dvrName" />
    <result column="dvrDesc" property="dvrDesc" />
    <result column="pageIndex" property="pageIndex"/>
    <result column="pageSize" property="pageSize"/>
    <result column="start" property="start"/>
    <result column="end" property="end"/>
    <result column="startSite" property="startSite"/>
    <result column="endSite" property="endSite"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CAMERA_IP, PIC_URL, CREATE_TIME, PLATE_NO, PLATE_COLOR_CODE, STATE,CAR_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from DATA_SNAP
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findList" parameterType="com.mydao.dvr.entrty.DataSnap" resultMap="BaseResultMap">
    select * from (
      select
      t1.*,
      t3.DVR_NAME dvrName,t3.dvr_id dvrDesc,
      rownum as rn
      from
      DATA_SNAP t1,CODE_VIDEO_CAMERA t3
      where t1.road_name||t1.road_to = t3.dvr_id(+)
        <if test="1 == netSiteNo">
          and (t1.road_name = #{startSite}||#{endSite} or t1.net_site_no = #{endSite}||#{startSite})
        </if>
        <if test="netSiteNo != 1">
          and t1.road_name = #{netSiteNo}
        </if>
        and t1.create_time > to_char((sysdate - 1),'yyyy-MM-dd HH24:Mi:ss')
        <if test="plateNo != null and plateNo != ''" >
          and t1.PLATE_NO like '%'||#{plateNo}||'%'
        </if>
        <if test="start != null" >
          and t1.CREATE_TIME  &gt;= #{start}
        </if>
        <if test="end != null" >
          and t1.CREATE_TIME &lt;= #{end}
        </if>
        ORDER by t1.CREATE_TIME desc
    ) x where x.rn &gt;= #{beginRow} and x.rn &lt; #{endRow}
  </select>

  <select id="count" parameterType="com.mydao.dvr.entrty.DataSnap" resultType="java.lang.Integer" >
    select
     count(1)
    from
    DATA_SNAP t1,CODE_VIDEO_CAMERA t3
    where t1.road_name||t1.road_to = t3.dvr_id(+)
    <if test="1 == netSiteNo">
      and (t1.road_name = #{startSite}||#{endSite} or t1.net_site_no = #{endSite}||#{startSite})
    </if>
    <if test="netSiteNo != 1">
      and t1.road_name = #{netSiteNo}
    </if>
    and t1.create_time > to_char((sysdate - 1),'yyyy-MM-dd HH24:Mi:ss')
    <if test="plateNo != null and plateNo != ''" >
      and t1.PLATE_NO like '%'||#{plateNo}||'%'
    </if>
    <if test="start != '' and start != null" >
      and t1.CREATE_TIME  &gt;= #{start}
    </if>
    <if test="end != '' and end != null" >
      and t1.CREATE_TIME &lt;= #{end}
    </if>
  </select>

  <delete id="deleteTimeoutData">
    delete from data_snap where create_time &lt; to_char((sysdate-1),'yyyy-MM-dd HH24:Mi:ss')
  </delete>

</mapper>